@model RedBadgeFinalProject.Models.ExpenseModels.ExpenseDetail

@{
    ViewBag.Title = "ExpenseDetails";
}

<h2>Expense Details</h2>

<div>
    <h4></h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpenseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpenseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditExpense", new { id = Model.ExpenseId }) |
    @Html.ActionLink("Back to Expenses", "Index")
</p>
