@model IEnumerable<RedBadgeFinalProject.Models.ExpenseModels.ExpenseListItem>

@{
    ViewBag.Title = "Index";
}

<div class="expense-header">Expense Tracker</div>

<p>
    @Html.ActionLink("Create New", "CreateExpense")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="expense-board">
    @foreach (var item in Model)
    {
        <div class="expense-container col-md-12 col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    @Html.DisplayFor(modelItem => item.ExpenseType) |
                    @Html.DisplayFor(modelItem => item.Event)
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(modelItem => item.Description)
                    <div>
                        <p>Budget: $@Html.DisplayFor(modelItem => item.Budget)</p>
                        <p>Actual Amount: $@Html.DisplayFor(modelItem => item.ActualAmount)</p>
                    </div>
                    <div class="expense-options">
                        <a href="Expense/ExpenseDetails/@item.ExpenseId">Details | </a>
                        <a href="/Expense/EditExpense/@item.ExpenseId">Edit | </a>
                        @Html.ActionLink("Delete", "DeleteExpense", new { id = item.ExpenseId })
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<!--<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualAmount)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditExpense", new { id = item.ExpenseId }) |
                @Html.ActionLink("Details", "ExpenseDetails", new { id = item.ExpenseId }) |
                @Html.ActionLink("Delete", "DeleteExpense", new { id = item.ExpenseId })
            </td>
        </tr>
    }

</table>-->
