@model IEnumerable<RedBadgeFinalProject.Models.ExpenseModels.ExpenseListItem>

@{
    ViewBag.Title = "Index";
}

<div class="expense-header">Expense Tracker</div>

<div class="create-new-expense">
    <p>
        <a href="/Expense/CreateExpense"><img src="~/Content/Assets/createicon.png" /></a>
    </p>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="expense-board">
    @foreach (var item in Model)
    {
        <div class="expense-container col-md-12 col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    @Html.DisplayFor(modelItem => item.IsPurchased, new { id = item.ExpenseId })
                    @Html.DisplayFor(modelItem => item.ExpenseType) |
                    @Html.DisplayFor(modelItem => item.Event)
                </div>

                <div class="panel-body">
                    @Html.DisplayFor(modelItem => item.Description)
                    <div>
                        <p>
                            Budget: $@Html.DisplayFor(modelItem => item.Budget) |
                            Actual Amount: $@Html.DisplayFor(modelItem => item.ActualAmount)
                        </p>
                    </div>

                    <div class="expense-options">
                        <a href="Expense/ExpenseDetails/@item.ExpenseId">Details | </a>
                        <a href="/Expense/EditExpense/@item.ExpenseId">Edit | </a>
                        @Html.ActionLink("Delete", "DeleteExpense", new { id = item.ExpenseId })
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='ok']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var expenseId = target.attr("data-id");
                    var checkmarkSet = target.hasClass("glyphicon-ok-sign");
                    /*glyphicon-ok-circle*/

                    $.ajax({
                        method: checkmarkSet ? "DELETE" : "PUT",
                        url: "/api/Expense/" + expenseId + "/IsPurchased",
                        data: null
                    })
                        .done(function (r) {
                            target.removeClass();
                            target.addClass("glyphicon" + (checkmarkSet ? "glyphicon-ok-sign" : "glyphicon-star"));
                        })
                        .fail(function (r) {
                            alert("Failed to change Is Purchased status");
                        });
                });
        });
    </script>
}

<!--"glyphicon-ok-circle" : "glyphicon-ok-sign"-->