@model RedBadgeFinalProject.Models.EventModels.EventDetail

@{
    ViewBag.Title = "Details";
}

<h2>Event Details</h2>

<div>
    <h4></h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateTime)
        </dd>

        <div class="guest-expenses-display">
            <dt>
                @Html.DisplayNameFor(model => model.Guests)
            </dt>
            <dd>

                <!--@Html.DisplayFor(model => model.Guests)-->
                @foreach (var guest in Model.Guests)
                {
                    @Html.DisplayFor(model => guest.FullName)<br>
                }
            </dd>
        </div>

        <div class="guest-expenses-display">
            <dt>
                @Html.DisplayNameFor(model => model.Expenses)
            </dt>
            <dd>
                @foreach (var expense in Model.Expenses)
                {
                    @Html.DisplayFor(model => expense.Description)
                    <p> Amount Spent: $ @Html.DisplayFor(model => expense.ActualAmount)</p><br>
                }
            </dd>
        </div>
    </dl>
</div>

<div class="details-delete-options">
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    <a href="/Guest"> View All Guests | </a>
    <a href="/Expense"> View All Expenses | </a>
    @Html.ActionLink("Back to Events", "Index")
</div>

<!--
<dt>
    @Html.DisplayNameFor(model => model.Guests)
</dt>
<dd>
    <!--@Html.DisplayFor(model => model.Guests)-->
@foreach (var guest in Model.Guests)
{
    @Html.DisplayFor(model => guest.FullName)
    <br>
}
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Expenses)
</dt>
<dd>
    @foreach (var expense in Model.Expenses)
    {
        @Html.DisplayFor(model => expense.Description)
        <p> Amount Spent: $ @Html.DisplayFor(model => expense.ActualAmount)</p><br>
    }
</dd>-->