@model RedBadgeFinalProject.Models.EventModels.EventDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Guests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Guests)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expenses)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    <a href="/Guest"> View Guests | </a>
    <a href="/Expense"> View Expenses | </a>
    @Html.ActionLink("Back to List", "Index")
</p>
