@model IEnumerable<RedBadgeFinalProject.Models.EventModels.EventListItem>

@{
    ViewBag.Title = "Index";
}

<div class="event-header">My Events</div>  <!--<h2>-->

<div class="create-new-event">
    <p>
        <a href="/Event/Create"><img src="~/Content/Assets/createicon.png" /></a>
    </p>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="event-board">
    @foreach (var item in Model)
    {
        <div class="card-container col-md-4 col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    @Html.DisplayFor(modelItem => item.EventName)
                </div>
                <div class="panel-body">
                    <p>Event Type: @Html.DisplayFor(modelItem => item.EventType)</p>
                    <div>
                        <p>Date/Time: @Html.DisplayFor(modelItem => item.EventDateTime)</p>
                    </div>
                    <div class="event-options">
                        <a href="Event/Details/@item.EventId">Details | </a>
                        <a href="/Event/Edit/@item.EventId">Edit | </a>
                        @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                    </div>
                </div>
            </div>
        </div>
    }

</div>


<!--Modal fix
<a href="/Event/Create/" data-toggle="modal" data-target="#exampleModalCenter"><img src="~/Content/Assets/createicon.png" />

</a>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->

<!--<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        </tr>
    }

</table> -->
