@model IEnumerable<RedBadgeFinalProject.Models.GuestModels.GuestListItem>

@{
    ViewBag.Title = "Index";
}

<div class="guest-header">Guests</div>

<p>
    <a href="/Guest/CreateGuest"><img src="~/Content/Assets/createicon.png" /></a>
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

    <div class="guest-board">
        @foreach (var item in Model)
        {
            <div class="card-container col-md-4 col-sm-6">
                <div class="panel">
                    <div class="panel-heading">
                        @Html.DisplayFor(modelItem => item.FullName)<br>
                    </div>
                    <div class="panel-subheading">
                        @Html.DisplayFor(modelItem => item.Event)
                    </div>
                    <div class="panel-body">
                        <p>Address: @Html.DisplayFor(modelItem => item.Address)</p>
                        <div>
                            <p>Is Attending: @Html.DisplayFor(modelItem => item.IsAttending)</p>
                        </div>
                        <div class="guest-options">
                            <a href="Guest/GuestDetails/@item.GuestId">Details | </a>
                            <a href="/Guest/EditGuest/@item.GuestId">Edit | </a>
                            @Html.ActionLink("Delete", "DeleteGuest", new { id = item.GuestId })
                        </div>
                        <!--<div class="panel-footer">
                    @Html.DisplayFor(modelItem => item.Event)
                </div>-->
                    </div>
                </div>
            </div>
        }

    </div>


    <!--<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAttending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAttending)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditGuest", new { id = item.GuestId }) |
                    @Html.ActionLink("Details", "GuestDetails", new { id = item.GuestId }) |
                    @Html.ActionLink("Delete", "DeleteGuest", new { id = item.GuestId })
                </td>
            </tr>
        }

    </table>-->
